[submodule "submodules/MadGraph5-v3.5.5"]
    path = submodules/MadGraph5-v3.5.5
    url = https://github.com/mg5amcnlo/mg5amcnlo.git
    branch = 3.5.5
    ignore=dirty
[submodule "submodules/Pythia-8.312"]
    path = submodules/Pythia-8.312
    url = https://gitlab.com/Pythia8/releases.git
    branch = pythia8312
    ignore=dirty
[submodule "submodules/FastJet-3.4.2"]
    path = submodules/FastJet-3.4.2
    url = https://gitlab.com/fastjet/fastjet.git
    branch = fastjet-3.4.2
    ignore=dirty
[submodule "submodules/yaml-cpp"]
    path = submodules/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git
    branch = yaml-cpp-0.7.0
    ignore=dirty
